* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* ------------------ */
/* FINDER.JSX */
/* ------------------ */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c55356;
}

h1 {
  position: absolute;
  top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  #content {
    display: flex; /* Para que los elementos se vayan acomodando en la pantalla*/
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}

#content {
  height: 50%;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form > input {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  padding: 10px 20px;
  text-align: center;
}

form > div > button {
  font-size: 1.3rem;
  border: 0;
  background-color: hsl(357, 66%, 79%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

#card {
  height: 100%;
  width: 50%;
  margin: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2d2d2;
}

#card > div:first-child {
  height: 75%;
  width: 100%;
  text-align: center;
}

#card > div:last-child {
  height: 24%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 10px;
}

#imgPokemon {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#pokeball {
  height: 50%;
  animation: spin 0.8s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ------------------ */
/* CARD.JSX */
/* ------------------ */

#main{
  min-height: 100vh;
}

#main > header {
  height: 10vh;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
}

#divImgLogo {
  height: 80%;
  margin-top: 10px;
  text-align: right;
}

#divImgLogo > img {
  height: 100%;
}

#contenido {
  display: flex;
  width: 100vw;
}

#divCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 30 0;
  min-width: 50vw;
}

.card {
  background-color: grey;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

#sideBar {
  width: 50vw;
}